language = "python3"
run = "python '이것이 코딩테스트다'/코드업/'정올 1번 수준 문제'/test.py"

# 파일 명에 띄워쓰기가 있는 경우 '' 로 묶기!
# e.g. 파일명 : try except            v
#      run = "python 파이썬_입문/'try except'/AccountExceptions.py"
